<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Cooking Robot Manager</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/recipeManager/css/w3.css">
        <!-- style>
            body {font-family: "Times New Roman", Georgia, Serif;}
            h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display";
            letter-spacing: 5px;
            }
        </style -->
    </head>
    <body>

        <!-- Header -->
        <header class="w3-container w3-red">
            <h1>Welcome to Recipes Manager!</h1>
        </header>
        <div class="w3-bar w3-black">
            <a href="#" class="w3-bar-item w3-button">Home</a>
            <a href="#" class="w3-bar-item w3-button">Link 1</a>
            <a href="#" class="w3-bar-item w3-button">Link 2</a>
            <a href="#" class="w3-bar-item w3-button">Link 3</a>
        </div> 

        <!-- Search Box -->
        <div class="w3-content" style="max-width:1100px">
            <div class="w3-container">
                <form class="w3-panel">
                    {% csrf_token %}
                    <label for="searchItem">Search in:</label>
                    <select id="search" name="search">
                        <option value="recipeName">Recipe Name</option>
                        <option value="category">Category</option>
                        <option value="chefName">Representer</option>
                    </select>
                    <input type="text" id="searchFor" name="searchFor" value="Type Here!">
                    <input type="submit" value="Submit">
                </form>                  
            </div>

            <!-- Sorting Box -->
            <div class="w3-container">
                <form class="w3-panel" method="post">
                    {% csrf_token %}
                    <label for="sortItem">Sort By:</label>
                    <select id="sort" name="sort">
                        <option value="default">----</option>
                        <option value="recipeName">Recipe Name</option>
                        <option value="category">Category</option>
                        <option value="duration">Time Duration</option>
                        <option value="calories">Calories</option>
                        <option value="servings">Servings</option>
                        <option value="chefName">Representer</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>                  
            </div>


            <!-- Page content -->
            <div class="w3-container">
                {% if items %}
                    <ul>
                        {% for item in items %}
                            <div class="w3-panel w3-blue w3-card-4">
                                <p>Recipe ID: #{{ item.recipeID }}</p>
                                <p>Food Name: {{ item.recipeName }}</p>
                                <p>Category: {{ item.category }}</p>
                                <p>Ingredients:</p>
                                <p>{{ item.ingredient }}</p>
                                <p>Time Duration: {{ item.duration }}</p>
                                <p>Steps:</p>
                                <p>{{ item.steps }}</p>
                                <p>Calorie: {{ item.calories }} C</p>
                                <p>Servings: {{ item.servings }}</p>
                                <p>Introduced by: {{ item.chefName }}</p>
                            </div>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nothing!!!!.</p>
                {% endif %}
            </div>
        <!-- End page content -->
        </div>

        <!-- Footer -->
        <footer class="w3-center w3-light-grey w3-padding-32">
            <p>Powered by CatDog Team</p>
        </footer>

    </body>
</html>