<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Cooking Robot Manager</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/recipeManager/css/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <!-- Header -->
        <header class="w3-container w3-bar w3-red">
            <h1 class="w3-bar-item">&#127858 Welcome to Recipes Manager{{name}}!</h1>
            {% if loginStat %}
                <div >
                    <a href="/login/" class="w3-bar-item w3-block w3-mobile w3-padding-32 w3-right">Login/Sign up!</a>
                </div>
            {% else %}
            <a href={% url 'logout' %} class="w3-bar-item w3-block w3-mobile w3-padding-32 w3-right">Logout!</a><a href="/profile/" class="w3-bar-item w3-block w3-mobile w3-padding-32 w3-right">Profile Setting</a>
            {% endif%}
        </header>
        <div class="w3-bar w3-black">
            <div class="w3-panel w3-left">
                <a href="/" class="w3-bar-item w3-button"><i class="w3-large fa fa-home"></i></a>
                {% if not loginStat %}
                    <a href="newitem/" class="w3-bar-item w3-button">New ingredient</a>
                    <a href="/list/" class="w3-bar-item w3-button">Lists</a>
                {% endif %}
                <a href="/utensil/" class="w3-bar-item w3-button">Utensils</a>
            </div>
            <!-- Search Box -->
            <div class="w3-container w3-right">
                <form class="w3-panel" method="post">
                    {% csrf_token %}
                    <input class="w3-round-xlarge" type="search" id="searchFor" name="searchFor" placeholder=" Search Here!">
                </form>                  
            </div>
        </div> 

        <div class="w3-bar w3-grey w3-padding-16">
            <form method="post">
                <input class="w3-bar-item w3-button" type="submit" name="categorySubmit" value="All">
                {% if allIngredientCategory %}
                    {% for category in allIngredientCategory %}
                            {% csrf_token %}
                            <input class="w3-bar-item w3-button" type="submit" name="categorySubmit" value="{{ category.ingredientCategoryName }}">
                    {% endfor %}
                {% endif %}
            </form> 
        </div>
        
        <div class="w3-content" style="max-width:1100px">
            
            <!-- Page content -->
            <div class="w3-container">
                {% if allIngredient %}
                    {% for item in allIngredient %}
                        
                        <div class="w3-mobile w3-quarter w3-card-4 w3-round-xxlarge w3-teal w3-margin w3-padding-16">
                            <div class="w3-center">
                                <div class="w3-container">
                                    <h5>{{ item.ingredientName }}</h5>
                                    <p>{{ item.baseCalorie }} calorie per 100g</p>
                                    <p>{{ item.ingredientCategory.ingredientCategoryName }}</p>
                                    <img width="150px" src="/media/{{ item.ingredientImg }}" alt="{{ item.ingredientName }}">
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                {% else %}
                    {% if message %}
                        <div class="w3-panel w3-red">
                            <h3>Notice!</h3>
                            <p>{{ message }}</p>
                        </div>  
                    {% endif %}
                {% endif %}
            </div>
        <!-- End page content -->
        </div>

        <!-- Footer -->
        <footer class="w3-center w3-light-grey w3-padding-32 w3-margin-top">
            <p>Powered by CatDog Team</p>
        </footer>

    </body>
</html>