<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Cooking Robot Manager</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/recipeManager/css/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

        <style>
            body {
                font-family: 'Poppins';font-size: 18px;
            }
            h1 {
    
                font-family: 'Poppins';font-size: 44px;font-weight: bold; color:#fff
            }
            </style>

    </head>
    <body>

        <!-- Header -->
        <header class="w3-container w3-bar w3-red">
            <h1 class="w3-bar-item">&#127858 Welcome to Recipes Manager!</h1>
        </header>
        <div class="w3-bar w3-black w3-border">
            <a href="/" class="w3-bar-item w3-button w3-mobile"><i class="w3-large fa fa-home"></i></a>
        </div>
        

        
        <div class="w3-content" style="max-width:1100px">
            <!-- Page content -->
            <div class="w3-container w3-margin-top w3-margin-bottom">
                {% if message %}
                    <div class="w3-panel w3-red">
                        <h3>Notice!</h3>
                        <p>{{ message }}</p>
                  </div>  
                {% endif %}
                <div class="w3-container w3-lime">
                    <h2>Sing up for new account</h2>
                </div>
                <form class="w3-container w3-card-4" method="post">
                    {% csrf_token %}
                    <p>
                        <input class="w3-input" type="text" style="width:90%" name="firstname" required>
                        <label>First Name</label>
                    </p>
                    <p>
                        <input class="w3-input" type="text" style="width:90%" name="lastname" required>
                        <label>Last name</label>
                    </p>
                    <p>
                        <input class="w3-input" type="text" style="width:90%" name="username" required>
                        <label>Username</label>
                    </p>
                    <p>
                        <input class="w3-input" type="email" style="width:90%" name="email" required>
                        <label>Email Address</label>
                    </p>
                    <p>
                        <input class="w3-input" type="password" style="width:90%" name="password" required>
                        <label>Password</label>
                    </p>
                    
                    <p>
                        <label>Have an account?</label>
                        <a href="/login" class = "w3-text-blue">Sign in!</a>
                    </p>
                    <p>
                        <button type="submit" value="login" class="w3-button w3-section w3-teal w3-ripple"> Register </button>
                    </p>
                    
                </form>
            </div>
        <!-- End page content -->
        </div>

        <!-- Footer -->
        <footer class="w3-center w3-light-grey w3-padding-32">
            <p>Powered by CatDog Team</p>
        </footer>

    </body>
</html>